label {
	padding: 5px;
}


Button {
	padding: 5px;
}

div#narbar-button-group {
	cursor: pointer;
	position: fixed;
	right: 0;
	padding: 8px;
}

Gear {
	cursor: pointer;
	padding: 8px;
}

div#copyright-disclaimer {
	font-size: small;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
}
